@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');



@tailwind base;
*::-webkit-scrollbar {
    width: 10px;
    background-color: #3f3f46;
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #17171a;
    border-radius: 8px;
    width: 5px;
  }
@tailwind components;
@tailwind utilities;
